[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Sarath191181208
	email = vssarathc04@gmail.com
[alias]
	graph = log --oneline --graph
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
